@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.liner_color{
  background: linear-gradient(to bottom,#194c33,#bbb);
  -webkit-background-clip: text;
  color: transparent;
}
html,body{
  min-width: 100vw;
  overflow: hidden;
  background: #111;
}

.portfolio a:hover span{
  color:#53c28b;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
